body{
    text-align: center;
    color: #21409a;
    
  
    
    
}

h2{
    color: #21409a;
    font-style: italic;

}

#gallery{
    display: inline-block;
}

.contact{
    float: left;
    text-align: left;
    padding-top: 25px;
    
}

.address{
    text-align: right;
    float: right;
}

.bottom a{
    text-decoration: none;
    font-size: 20px;
    color: #21409a;
    font-size: medium;
    
}

.bottom{
    padding-top: 120px;
    font-family:Arial, Helvetica, sans-serif;
}